$pe-color-alto: #d9d9d9;
$pe-color-charcoal: #252525;
$pe-color-concrete: #c7c7c7;
$pe-color-digital-grass-green: #038238;
$pe-color-medium-gray: #6a7070;
$pe-color-moonlight: #e9e9e9;
$pe-color-white: #ffffff;
$pe-color-white-gray: #f5f5f5;

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

/**
 * RESETS
 */

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  overflow: visible;
  text-transform: none;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:focus {
  outline: none;
}

button:focus::after {
  border: 2px solid #0b73da;
  content: '';
  position: absolute;
  border-radius: 4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -6px;
  left: -6px;
  z-index: 1;
}

svg[class^='pe-icon--'] {
  display: inline-block;
  vertical-align: top;
  fill: $pe-color-medium-gray;
  pointer-events: none;
}

svg[class^='pe-icon--check'] {
  fill: $pe-color-digital-grass-green;
}

/**
 * REUSED PEARSON STYLES
 */

.pe-link--btn {
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
}

.pe-icon--btn {
  padding: 0;
  background-color: transparent;
  border: 0;
  position: relative;
}

.pe-title--small {
  font-size: 1.28571rem;
  line-height: 1.57143rem;
  font-weight: 400;
  color: #252525;
}

.text-icon {
  display: flex;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
}

.text-icon svg {
  margin-left: 0.5em;
}

/**
 * COMPONENT STYLES
 */

:host {
  font: 14px/18px 'Open Sans', 'Calibri', 'Tahoma', sans-serif;
  color: $pe-color-charcoal;
}

.dropdown-trigger {
  z-index: 9;
}

.dropdown-wrapper {
  position: absolute;
  z-index: 10;
  margin-top: -9px;
  visibility: hidden;
  opacity: 0;
}

:host([open]) .dropdown-wrapper {
  visibility: visible;
  opacity: 1;
}

.mobile-group {
  background: $pe-color-white-gray;
  border-bottom: 1px solid $pe-color-moonlight;
  display: inline-flex;
  width: 100%;
  padding: 24px;
  position: relative;
  top: -27px;
  z-index: 10;
  overflow: hidden;
}

.mobile-group span {
  width: 100%;
  text-align: center;
}

.mobile-group button {
  margin-left: 12px;
}

.dropdown-menu {
  position: absolute;
  list-style-type: none;
  padding: 1em 0;
  border: 1px solid $pe-color-alto;
  border-radius: 2px;
  width: 220px;
  margin-top: 0;
  top: 16px;
  background-color: $pe-color-white;
  overflow-x: visible;
}

.dropdown-menu li.seperator {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid $pe-color-alto;
}

.dropdown-menu button {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  color: $pe-color-charcoal;
  text-align: left;
  padding: 0;
}

.dropdown-menu button:hover,
.dropdown-menu button:focus {
  background-color: $pe-color-moonlight;
}

.dropdown-menu button:focus::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dropdown-menu button[aria-checked='false'] svg {
  display: none;
}

.dropdown-menu button[aria-checked='true'] svg {
  display: inline-block;
}

.truncate {
  max-width: 100%;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .dropdown-menu button[aria-checked='true'] svg {
    top: 4px;
  }
}

.dropdown-menu svg {
  position: absolute;
  left: 12px;
}

.dropdown-menu .option-text {
  display: inline-flex;
  margin: 5px 24px 5px 34px;
  width: 100%;
}

@media (min-width: 480px) {
  .mobile-group {
    display: none;
  }

  .dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media (max-width: 480px) {
  .dropdown-wrapper {
    width: 100%;
    display: flex;
  }

  .dropdown-menu {
    width: 100%;
    top: 44px;
    border: 0;
    height: 100vh;
  }

  .dropdown-menu .option-text {
    font-size: 16px;
    margin: 12px 42px 12px 42px;
  }
}
