$charcoal: #252525;
$iceblue: #daf0ed;
$mediumgray: #6a7070;
$pe-fonts-path: 'https://unpkg.com/@pearson-components/elements-sdk@1.6.1/build/fonts' !default;
@font-face {
  font-family: 'Open Sans';
  src: url('#{$pe-fonts-path}/opensans-regular.woff2') format('woff2'),
    url('#{$pe-fonts-path}/opensans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('#{$pe-fonts-path}/opensans-semibold.woff2') format('woff2'),
    url('#{$pe-fonts-path}/opensans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.coachmark,
.coachmark::before,
.coachmark::after .coachmark *,
.coachmark *::before,
.coachmark *::after {
  box-sizing: border-box;
}

.coachmark * + * {
  margin-top: 4px;
}

.coachmark {
  position: absolute;
  display: inline-block;
  width: 280px;
  height: auto;
  padding: 20px 24px;
  background-color: $iceblue;
  color: $charcoal;
  font: 14px/18px 'Open Sans' sans-serif;
  overflow: visible;
}

.coachmark-content {
  position: relative;
}

.coachmark-content:after,
.coachmark-content:before {
  top: calc(100% + 20px);
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.coachmark-content:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: $iceblue;
  border-width: 8px;
  margin-left: -8px;
}

.coachmark-content:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: $iceblue;
  border-width: 14px;
  margin-left: -14px;
}

.coachmark-content h2,
.coachmark-content h3 {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

.coachmark-content p {
  margin-bottom: 0;
}

.coachmark-content button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.coachmark-content button:focus {
  outline: 2px solid #0b73da;
  outline-offset: 4px;
}

.coachmark-content img[class^='pe-icon--'] {
  display: inline-block;
  vertical-align: top;
  fill: currentColor;
  pointer-events: none;
}

.coachmark-content img[class$='18'] {
  width: 18px;
  height: 18px;
}
.coachmark-content .pe-icon--btn {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 44px;
  height: 44px;
  margin-top: 0;
}

.coachmark-content .pe-icon--btn:focus {
  outline-offset: 0;
}

.coachmark-content .dismiss-link {
  text-decoration: underline;
  margin-top: 24px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

.fadeInFast {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  transition-timing-function: ease-in;
}

.fadeOutFast {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media all and (-ms-high-contrast: none) {
  .fadeInFast {
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }

  .fadeOutFast {
    animation-name: fadeOut;
    animation-duration: 0.5s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .animated {
    animation: unset !important;
  }
}
